.text-editor{
  .wrapper{
    width: auto;
    margin: 0 auto;
  }
  .editor{
    height: 400px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px;
    padding: 0 10px;
  }
  .footer-cta-btn{
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    .submit{
      float: right;
    }
  }
}